body {
    background: linear-gradient(to left, rgb(0, 70, 102), rgb(20, 136, 126));
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 400px;
    margin: 22vh auto 0 auto;
    padding: 20px;
    background-color: rgb(228, 222, 222);
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input,
.input-control select {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    display: block;
    font-size: 12px;
    padding: 12px;
    width: 100%;
}

.input-control input:focus,
.input-control select:focus {
    outline-color: #1083b4;
}

.input-control.success input,
.input-control.success select {
    border-color: #09c372;
}

.input-control.error input,
.input-control.error select {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

#headcontainer {
    margin: 10px 20px;
    margin-bottom: -10%;
    height: 10%;
    width: 99%;
    display: inline-block;
    text-align: center;
}

#favlogo {
    height: 100%;
}

.cb {
    margin-left: -0%;
    margin-top: -10%;
}

.button1 {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button2 {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: rgb(9, 35, 70);
    background-color: rgb(205, 209, 243);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.errormsg {
    color: #ff0033;
    font-style: italic;

}

.fonty {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}